@import '/styles/functions';

.Header {
	padding: rem(24px) rem(32px);
	background: #ffffff;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	
	.Header__logo {
	}
	
	.Header__button {
		height: 11px;
		position: relative;
		background-color: transparent;
		border: none;
		padding: 4px 0;
		transition: var(--transition-primary);
	}
	
	.Header__button_active {
		height: 32px;
		width: 32px;
	}
	
	.Header__button::before, .Header__button::after {
		content: '';
		display: block;
		position: absolute;
		right: 0;
		height: 0;
		transition: var(--transition-primary);
	}
	
	.Header__button::before {
		top: 0;
		width: 37px;
		border-top: 2px solid #f0515d;
	}
	
	.Header__button::after {
		bottom: 0;
		width: 23px;
		border-bottom: 2px solid #f0515d;
	}
	
	.Header__button_active::before, .Header__button_active::after {
		width: 24px;
		margin: auto;
		transition: var(--transition-primary);
	}
	
	.Header__button_active::before {
		transform: rotate(45deg) translateY(13.5px) translateX(8px);
	}
	
	.Header__button_active::after {
		width: 24px;
		transform: rotate(-45deg) translateY(-13.5px) translateX(8px);
	}
}
