@import '/styles/functions';

.PopularCategoriesCard {
	.PopularCategoriesCard__image {
		position: relative;
		border-radius: 8px;
		overflow: hidden;
		
		.PopularCategoriesCard__price {
			position: absolute;
			bottom: rem(12px);
			left: rem(12px);
			background-color: #f0515d;
			border-radius: 4px;
			padding: rem(4px) rem(12px);
			font-weight: 600;
			font-size: rem(14px);
			line-height: rem(21px);
			color: #ffffff;
		}
	}
	
	.PopularCategoriesCard__info {
		margin-top: rem(8px);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		
		h5 {
			margin: 0;
			padding: 0;
			font-weight: 400;
			font-size: rem(14px);
			line-height: rem(21px);
			color: #212121;
		}
		
		span {
			font-size: rem(12px);
			line-height: rem(18px);
			color: rgba(#212121, 0.4);
		}
	}
}
