@import '/styles/functions';

.ExcursionsCard {
	flex-shrink: 0;
	width: 100%;
	overflow: hidden;
	
	.ExcursionsCard__image {
		position: relative;
		overflow: hidden;
		padding: 0 rem(16px);
		
		img {
			border-radius: 8px;
		}
	}
	
	.ExcursionsCard__header {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		padding: 0 rem(16px) rem(8px) rem(16px);
		
		h3 {
			margin: rem(16px) 0 rem(8px) 0;
			font-weight: 500;
			font-size: rem(17px);
			line-height: rem(26px);
			color: #221818;
		}
		
		span {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			margin-bottom: rem(8px);
			font-size: rem(12px);
			line-height: rem(18px);
			color: rgba(#212121, 0.6);
			grid-column-gap: 12px;
		}
		
		.ExcursionsCard__tariffs {
			display: none;
		}
	}
	
	.ExcursionsCard__departures {
		padding: rem(8px) rem(16px);
		background-color: #fafafa;
		position: relative;
		
		span {
			font-weight: 400;
			font-size: rem(12px);
			line-height: rem(18px);
			color: #666666;
			margin-bottom: rem(4px);
			display: block;
		}
		
		.ExcursionsCard__times {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-column-gap: 8px;
			
			button {
				font-size: rem(14px);
				line-height: rem(21px);
				color: #212121;
				border-radius: 3px;
				border: none;
				background-color: #ffffff;
				padding: rem(4px);
				text-align: center;
				cursor: pointer;
				transition: background-color var(--transition-primary), color var(--transition-primary);
				
				svg {
					path {
						transition: stroke var(--transition-primary);
					}
					rect {
						transition: fill var(--transition-primary);
					}
				}
			}
			
			button:hover {
				background-color: #f0515d;
				color: #ffffff;
				
				svg {
					path {
						stroke: #ffffff;
					}
					rect {
						fill: #ffffff;
					}
				}
			}
		}
		
		.ExcursionsCard__calendar {
			position: absolute;
			bottom: 0;
			left: -52px;
			right: -52px;
			max-width: calc(100% + 104px);
			margin: auto;
			width: fit-content;
			opacity: 0;
			transform: scale(0.6) translateY(20%);
			transform-origin: 50% 100%;
			z-index: -1;
			transition: all var(--transition-primary), z-index 0s linear 0.8s;
		}
		
		.ExcursionsCard__calendar_active {
			opacity: 1;
			transform: scale(1) translateY(20%);
			z-index: 2;
			transition: all var(--transition-primary), z-index 0s linear 0s;
		}
	}
	
	.ExcursionsCard__discount {
		padding: rem(16px);
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		grid-column-gap: 8px;
		border-bottom: 1px solid #ececec;
		
		strong, span {
			font-size: rem(12px);
			line-height: rem(18px);
		}
		
		strong {
			font-weight: 700;
			color: #f0515d;
		}
		
		span {
			font-weight: 400;
			color: #999999;
			text-decoration: line-through;
		}
	}
	
	.ExcursionsCard__tariffs {
		padding: rem(6px) rem(16px);
		border-bottom: 1px solid #ececec;
		
		.ExcursionsCard__tariff {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: rem(8px) 0;
			
			span {
				font-size: rem(12px);
				line-height: rem(18px);
				color: #000000;
			}
			
			div {
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
				align-items: center;
				grid-column-gap: 8px;
				
				strong, span {
					font-weight: 400;
					font-size: rem(12px);
					line-height: rem(18px);
					letter-spacing: 0.02em;
					text-transform: uppercase;
				}
				
				strong {
					color: #f0515d;
				}
				
				span {
					color: #8a8894;
					text-decoration: line-through;
				}
				
				button {
					padding: 0 rem(8px);
					border: none;
					border-left: 1px solid #c4c4c4;
					background-color: transparent;
				}
			}
		}
		
		.ExcursionsCard__tariff:not(:last-child) {
			border-bottom: 1px solid #c4c4c4;
		}
	}
	
	.ExcursionsCard__footer {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-column-gap: 8px;
		padding: rem(16px) rem(16px) 0 rem(16px);
		
		button {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			font-weight: 700;
			height: 100%;
		}
		
		button:last-child:hover {
			svg {
				path {
					stroke: #ffffff;
					transition: var(--transition-primary);
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.ExcursionsCard {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 2fr;
		grid-row-gap: rem(16px);
		padding: rem(16px);
		
		.ExcursionsCard__image {
			padding: 0;
			margin-right: 8px;
			
			img {
				height: 100%;
			}
		}
		
		.ExcursionsCard__header {
			padding: 0;
			margin-left: 8px;
			
			h3 {
				margin: 0 0 rem(12px) 0;
			}
			
			.ExcursionsCard__tariffs {
				display: block;
			}
		}
		
		.ExcursionsCard__departures {
			background-color: #fafafa;
			border-radius: 12px 0 0 12px;
			padding: rem(8px) rem(16px);
			width: calc(100% + 0.5px);
			
			.ExcursionsCard__times {
			}
			
			.ExcursionsCard__calendar_active {
				transform: scale(1) translateY(0%);
			}
		}
		
		.ExcursionsCard__discount {
			display: none;
		}
		
		.ExcursionsCard__tariffs {
			display: none;
			width: 100%;
			padding: 0;
			margin-top: rem(12px);
			border-bottom: none;
			
			.ExcursionsCard__tariff {
				border-bottom: none;
				margin: 0;
				padding: 0;
				
				span {
					color: #f0515d;
				}
				
				div {
					strong {
						font-weight: 700;
					}
					
					span {
						margin: 0;
					}
				}
			}
			
			.ExcursionsCard__tariff:not(:last-child) {
				border-bottom: none;
			}
		}
		
		.ExcursionsCard__footer {
			background-color: #fafafa;
			border-radius: 0 12px 12px 0;
			width: calc(100% + 0.5px);
			transform: translateX(-0.5px);
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
			justify-content: flex-start;
			padding: rem(16px);
		}
	}
}
