@import '/styles/functions';

.Button_primary, .Button_secondary {
	font-weight: 600;
	font-size: rem(13px);
	line-height: rem(20px);
	letter-spacing: 0.02em;
	text-transform: uppercase;
	padding: rem(12px) rem(24px);
	border: none;
}

.Button_primary {
	color: #ffffff;
	background: #f0515d;
	border-radius: 6px;
}

.Button_secondary {
	color: #f0515d;
}
