@import '/styles/functions';

.Button {
	font-weight: 700;
	font-size: rem(13px);
	line-height: rem(20px);
	letter-spacing: 0.02em;
	text-transform: uppercase;
	border: none;
	padding: rem(12px) rem(24px);
	cursor: pointer;
	transition: var(--transition-primary);
	
	* {
		transition: var(--transition-primary);
	}
}

.Button_small {
	font-weight: 400;
	font-size: rem(12px);
	line-height: rem(18px);
	padding: rem(8px) rem(16px);
	border: none;
	cursor: pointer;
	transition: var(--transition-primary);
	
	* {
		transition: var(--transition-primary);
	}
}

.Button_primary {
	color: #ffffff;
	background: #f0515d;
	border-radius: 6px;
	border: 1px solid #f0515d;
}

.Button_outlined {
	color: #f0515d;
	background: transparent;
	border-radius: 6px;
	border: 1px solid #f0515d;
	
	* {
		color: #f0515d;
		text-decoration: none;
	}
}

.Button_outlined:hover {
	background-color: #f0515d;
	color: #ffffff;
	
	* {
		color: #ffffff;
	}
}

.Button_secondary {
	color: #f0515d;
	background-color: transparent;
	padding: rem(12px) 0;
}

.Button_secondary.Button_small {
	padding: rem(8px) 0;
}

.Button_secondary:disabled {
	color: #c8bdbd;
}

@media (max-width: 320px) {
	.Button {
		font-size: rem(12px);
	}
	
	.Button_small {
		font-size: rem(11px);
	}
}
