@import '/styles/functions';

.SpecialOffers {
	padding-top: rem(48px);
	
	.SpecialOffers__cards {
	}
	
	.SpecialOffers__footer {
		margin-top: rem(28px);
		border-top: 1px solid #c4c4c4;
		padding-top: rem(20px);
		grid-column-gap: rem(12px);
		
		a {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			grid-column-gap: rem(12px);
			font-size: rem(14px);
			line-height: rem(21px);
			color: #212121;
			text-decoration: none;
		}
	}
}

@media (min-width: 720px) {
	.SpecialOffers {
		.SpecialOffers__footer {
			margin-top: rem(24px);
			padding-top: rem(16px);
		}
	}
}
