@import '/styles/functions';

.SpecialOffers {
	padding-top: rem(48px);
	
	.SpecialOffers__wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: calc(100% + 70px);
		transform: translateX(-35px);
		grid-column-gap: 13px;
		
		& > button {
			height: 25px;
			min-height: 25px;
			width: 25px;
			min-width: 25px;
			border: none;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			background-color: #ffffff;
			box-shadow: 0 1px 12px rgba(0, 0, 0, 0.1);
			transition: opacity var(--transition-primary), box-shadow var(--transition-primary);
		}
		
		& > button:disabled {
			opacity: 0.25;
			box-shadow: none;
		}
		
		& > button:first-child {
			svg {
				transform: translateX(-1px);
			}
		}
		
		& > button:last-child {
			svg {
				transform: translateX(1px);
			}
		}
		
		.SpecialOffers__cards {
			width: 100%;
			overflow: hidden;
			background-color: #ffffff;
			box-shadow: 0 1px 24px rgba(46, 57, 69, 0.1);
			border-radius: 12px;
			padding: rem(16px) 0;
			display: flex;
			
			.SpecialOffers__container {
				display: flex;
				width: 100%;
				transition: transform var(--transition-primary);
				
				& > div {
					flex-shrink: 0;
				}
			}
		}
		
		.SpecialOffers__link {
			padding: rem(36px);
			display: none;
			text-align: center;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			border: 0.5px solid #f0515d;
			box-sizing: border-box;
			filter: drop-shadow(0px 1px 24px rgba(46, 57, 69, 0.1));
			border-radius: 8px;
			height: 100%;
			font-weight: 700;
			font-size: rem(14px);
			line-height: rem(21px);
			color: #f0515d;
			text-decoration: none;
		}
	}
	
	.SpecialOffers__footer {
		margin-top: rem(28px);
		border-top: 1px solid #c4c4c4;
		padding-top: rem(20px);
		grid-column-gap: rem(12px);
		
		a {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			grid-column-gap: rem(12px);
			font-size: rem(14px);
			line-height: rem(21px);
			color: #212121;
			text-decoration: none;
		}
	}
}

@media (max-width: 375px) {
	.SpecialOffers {
		.SpecialOffers__wrapper {
			width: 100%;
			transform: translateX(0);
			
			& > button {
				display: none;
			}
		}
	}
}

@media (min-width: 720px) {
	.SpecialOffers {
		.SpecialOffers__wrapper {
			width: 100%;
			transform: translateX(0);
			grid-column-gap: rem(24px);
			display: grid;
			grid-template-columns: 1fr auto;
			
			& > button {
				display: none;
			}
			
			.SpecialOffers__link {
				display: flex;
			}
		}
		
		.SpecialOffers__footer {
			margin-top: rem(24px);
			padding-top: rem(16px);
		}
	}
}

@media (min-width: 840px) {
	.SpecialOffers {
		.SpecialOffers__wrapper {
			grid-column-gap: 0;
			
			.SpecialOffers__cards {
				box-shadow: none;
				border-radius: 0;
				padding: 0;
				
				.SpecialOffers__container {
					grid-column-gap: 24px;
					
					& > div {
						width: calc(50% - 24px);
						border-radius: 12px;
						padding: rem(16px) 0;
						flex-shrink: 0;
						box-shadow: 0 1px 24px rgba(46, 57, 69, 0.1);
					}
				}
			}
		}
	}
}

@media (min-width: 1280px) {
	.SpecialOffers {
		.SpecialOffers__wrapper {
			.SpecialOffers__cards {
				padding: 16px;
				margin: -16px;
				width: calc(100% + 32px);
				.SpecialOffers__container {
					& > div {
						width: calc(100% / 3 - 24px);
					}
				}
			}
		}
	}
}
