@import '/styles/functions';

.Filter {
	padding-top: rem(16px);
	background-color: #fafafa;
	height: 100vh;
	
	.Filter__grid {
		display: flex;
		flex-direction: column;
		grid-row-gap: rem(16px);
		
		.Filter__group {
			display: flex;
			flex-direction: column;
			grid-row-gap: rem(8px);
			
			.Filter__date {
				width: 100%;
				position: relative;
				
				.Filter__calendar {
					opacity: 0;
					z-index: -1;
					transform-origin: 50% 0;
					transition: all var(--transition-primary), z-index 0s linear 0.8s;
					margin: auto;
					width: fit-content;
					position: absolute;
					left: 0;
					right: 0;
				}
				
				.Filter__calendar_active {
					opacity: 1;
					z-index: 3;
					transition: all var(--transition-primary), z-index 0s linear 0s;
				}
			}
			
			.Filter__item {
				background-color: #ffffff;
				box-shadow: 0 1px 12px rgba(46, 57, 69, 0.05);
				border-radius: 6px;
				padding: rem(8px) rem(16px);
				
				& > span {
					font-size: rem(10px);
					line-height: rem(16px);
					color: rgba(0, 0, 0, 0.6);
					margin-bottom: rem(8px);
					display: inline-block;
				}
				
				div {
					display: flex;
					flex-direction: column;
					grid-row-gap: rem(4px);
				}
			}
		}
	}
}
