@import '/styles/functions';

.CardSlider {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: calc(100% + 72px);
	transform: translateX(-36px);
	grid-column-gap: 13px;
	
	& > button {
		height: 25px;
		min-height: 25px;
		width: 25px;
		min-width: 25px;
		border: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		background-color: #ffffff;
		box-shadow: 0 1px 12px rgba(0, 0, 0, 0.1);
		transition: opacity var(--transition-primary), box-shadow var(--transition-primary);
	}
	
	& > button:disabled {
		opacity: 0.25;
		box-shadow: none;
	}
	
	& > button:first-child {
		svg {
			transform: translateX(-1px);
		}
	}
	
	& > button:last-child {
		svg {
			transform: translateX(1px);
		}
	}
	
	.CardSlider__cards {
		width: 100%;
		overflow: hidden;
		background-color: #ffffff;
		box-shadow: 0 1px 24px rgba(46, 57, 69, 0.1);
		border-radius: 12px;
		padding: rem(16px) 0;
		display: flex;
		
		.CardSlider__container {
			display: flex;
			width: 100%;
			transition: transform var(--transition-primary);
			
			& > div {
				flex-shrink: 0;
			}
		}
	}
	
	.SpecialOffers__link {
		position: relative;
		z-index: 1;
		padding: rem(36px);
		display: none;
		text-align: center;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: 0.5px solid #f0515d;
		box-sizing: border-box;
		border-radius: 8px;
		height: 100%;
		font-weight: 700;
		font-size: rem(14px);
		line-height: rem(21px);
		color: #f0515d;
		text-decoration: none;
		background-color: #fafafa;
		white-space: break-spaces;
	}
}

@media (max-width: 375px) {
	.CardSlider {
		width: 100%;
		transform: translateX(0);
		
		& > button {
			display: none;
		}
	}
}

@media (min-width: 720px) {
	.CardSlider {
		& > button {
			display: none;
		}
		
		.SpecialOffers__link {
			display: flex;
		}
	}
	
	.CardSlider:not(.CardSlider_invalid) {
		width: 100%;
		transform: translateX(0);
		grid-column-gap: rem(24px);
		display: grid;
		grid-template-columns: 4fr 2fr;
	}
}

@media (min-width: 768px) {
	.CardSlider {
		width: 100%;
		transform: translateX(0);
		grid-column-gap: 0;
	}
}

@media (min-width: 960px) {
	.CardSlider:not(.CardSlider_invalid) {
		grid-column-gap: 0;
	}
	
	.CardSlider {
		grid-template-columns: 6fr 2fr;
		
		.CardSlider__cards {
			box-shadow: none;
			border-radius: 0;
			padding: 16px;
			margin: -16px;
			width: calc(100% + 32px);
			
			.CardSlider__container {
				grid-column-gap: 24px;
				
				& > div {
					width: calc(50% - 24px);
					border-radius: 12px;
					padding: 0 0 rem(16px) 0;
					flex-shrink: 0;
					box-shadow: 0 1px 24px rgba(46, 57, 69, 0.1);
					
					& > div:first-child {
						padding: 0;
						
						img {
							border-radius: 0;
						}
					}
				}
			}
		}
	}
	
	.CardSlider.CardSlider_invalid {
		.CardSlider__cards {
			.CardSlider__container {
				& > div {
					width: calc(60% - 24px);
					padding: rem(16px);
				}
			}
		}
	}
}

@media (min-width: 1280px) {
	.CardSlider:not(.CardSlider_invalid) {
		grid-template-columns: 5fr 1fr;
		
		.CardSlider__cards {
			.CardSlider__container {
				& > div {
					width: calc(100% / 3 - 24px);
				}
			}
		}
	}
	
	.CardSlider.CardSlider_invalid {
		.CardSlider__cards {
			.CardSlider__container {
				& > div {
					width: calc(51% - 24px);
				}
			}
		}
	}
}

@media (min-width: 1560px) {
	.CardSlider.CardSlider_invalid {
		.CardSlider__cards {
			.CardSlider__container {
				& > div {
					width: calc(45% - 24px);
				}
			}
		}
	}
}
