@import '/styles/functions';

.Navigation {
	padding: 0 rem(52px) rem(4px) rem(52px);
	
	h6 {
		margin: rem(12px) 0 rem(8px) 0;
		padding: 0;
		font-weight: 400;
		font-size: rem(12px);
		line-height: 145%;
		color: rgba(#000000, 0.6);
	}
	
	ul {
		margin: 0 0 rem(28px) 0;
		padding: 0;
		list-style: none;
		
		li {
			margin-bottom: rem(8px);
			
			a {
				font-size: rem(16px);
				line-height: 145%;
				color: #000000;
				text-decoration: none;
			}
		}
		
		li:last-child {
			margin-bottom: 0;
		}
	}
	
	ul:last-child {
		margin-bottom: 0;
	}
}

@media (max-width: 375px) {
	.Navigation {
		padding: 0 rem(32px) rem(4px) rem(32px);
		
		ul {
			margin: 0 0 rem(24px) 0;
			
		}
	}
}

@media (max-width: 320px) {
	.Navigation {
		padding: 0 rem(20px) rem(4px) rem(20px);
		
		ul {
			margin: 0 0 rem(20px) 0;
			
			li {
				a {
					font-size: rem(14px);
				}
			}
		}
	}
}
