@import '/styles/functions';

.Navigation {
	h6 {
		margin: 0 0 rem(8px) 0;
		padding: 0;
		
		a {
			text-decoration: none;
			color: rgba(#000000, 0.6);
			font-weight: 400;
			font-size: rem(12px);
			line-height: 145%;
		}
	}
	
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		
		li {
			margin-bottom: rem(8px);
			
			a {
				font-size: rem(14px);
				line-height: 145%;
				color: #000000;
				text-decoration: none;
				transition: var(--button-transition);
			}
		}
		
		li:hover {
			a {
				color: #f0515d;
			}
		}
		
		li:last-child {
			margin-bottom: 0;
		}
	}
	
	.Navigation__mobile {
		padding: 0 rem(52px) rem(4px) rem(52px);
		display: block;
		
		.Navigation__row {
			padding-top: rem(12px);
			padding-bottom: rem(14px);
		}
		
		ul:last-child {
			margin-bottom: 0;
		}
	}
	
	.Navigation__desktop {
		display: none;
		
		.Navigation__top {
			display: flex;
			grid-column-gap: rem(32px);
			padding: rem(24px) rem(16px);
			
			.Navigation__column {
				h6 {
					margin-bottom: rem(16px);
				}
				
				ul {
					li {
						margin-bottom: rem(16px);
					}
					
					li:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}

@media (max-width: 375px) {
	.Navigation {
		.Navigation__mobile {
			padding: 0 rem(32px) rem(4px) rem(32px);
			
			.Navigation__row {
				padding-bottom: rem(24px);
			}
		}
	}
}

@media (max-width: 320px) {
	.Navigation {
		.Navigation__mobile {
			padding: 0 rem(20px) rem(4px) rem(20px);
			
			.Navigation__row {
				padding-bottom: rem(20px);
				
				ul {
					li {
						a {
							font-size: rem(14px);
						}
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.Navigation {
		.Navigation__mobile {
			display: none;
		}
		
		.Navigation__desktop {
			display: block;
		}
	}
}
