@import '/styles/functions';

.Footer {
	.Footer__about {
		padding: rem(32px) rem(52px);
		border-bottom: 1px solid #d1d1d1;
		
		p {
			font-size: 10px;
			line-height: 145%;
			color: rgba(#282d31, 0.6);
			padding: 0;
			margin: rem(8px) 0 0 0;
		}
	}
	
	.Footer__navigation {
		padding-top: rem(16px);
	}
	
	.Footer__button {
		padding: rem(32px) rem(52px) rem(48px) rem(52px);
		
		button {
			background-color: #9e9e9e;
		}
	}
	
	.Footer__info {
		padding: rem(8px) rem(52px);
		border-top: 1px solid #d1d1d1;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		grid-column-gap: 8px;
		
		.Footer__link {
			font-size: 12px;
			line-height: 145%;
			color: rgba(#282D31, 0.6);
			text-decoration: none;
		}
	}
}

@media (max-width: 375px) {
	.Footer {
		.Footer__about {
			padding: rem(32px);
		}
		
		.Footer__button {
			padding: rem(32px);
		}
		
		.Footer__info {
			padding: rem(8px) rem(32px);
		}
	}
}

@media (max-width: 320px) {
	.Footer {
		.Footer__about {
			padding: rem(20px);
		}
		
		.Footer__button {
			padding: rem(20px);
		}
		
		.Footer__info {
			padding: rem(20px);
		}
	}
}
