@import '/styles/functions';

.Difficulty {
	margin-top: rem(64px);
	padding: rem(24px) rem(16px);
	background: linear-gradient(256deg, #f0515d 1.5%, #f08e57 48.87%, #f0b051 101.44%);
	box-shadow: 0 1px 12px rgba(0, 0, 0, 0.07);
	border-radius: 12px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
	
	h3 {
		font-weight: 600;
		font-size: rem(20px);
		line-height: rem(50px);
		color: #ffffff;
		margin: 0;
		padding: 0;
	}
	
	p {
		font-weight: 400;
		font-size: rem(14px);
		line-height: rem(20px);
		padding-right: rem(56px);
		color: #ffffff;
		margin: rem(8px) 0 rem(20px) 0;
	}
	
	div {
		display: flex;
		flex-direction: column;
		
		button {
			color: #ffffff;
			border-color: #ffffff;
		}
		
		button:hover {
			background-color: #ffffff;
			color: #f0515d;
		}
		
		a {
			margin-top: rem(12px);
			margin-left: rem(8px);
			font-weight: 400;
			font-size: rem(16px);
			line-height: rem(30px);
			color: #ffffff;
			text-decoration: none;
		}
	}
	
	.Difficulty__icon {
		position: absolute;
		width: 126px;
		height: 100px;
		right: 20px;
		bottom: 36px;
		margin: auto;
	}
}

@media (min-width: 768px) {
	.Difficulty {
		padding: rem(32px);
		
		h3 {
			font-size: rem(28px);
		}
		
		p {
			font-size: rem(16px);
			line-height: rem(26px);
			padding-right: 0;
			width: 50%;
			margin: rem(8px) 0 rem(40px) 0;
		}
		
		div {
			flex-direction: row;
			grid-column-gap: rem(32px);
			align-items: center;
			
			a {
				margin-top: 0;
				margin-left: 0;
			}
		}
		
		.Difficulty__icon {
			width: 188px;
			height: 242px;
			top: 0;
			bottom: 0;
		}
	}
}
