@import '/styles/functions';

.UserProfile {
	padding-top: rem(32px);
	
	.UserProfile__title {
		font-weight: 400;
		font-size: rem(20px);
		line-height: rem(30px);
		color: #221818;
		margin: 0;
		padding: 0;
	}
	
	.UserProfile__container {
		display: flex;
		flex-direction: column;
		grid-row-gap: rem(16px);
		margin: rem(16px) 0;
		
		h3 {
			font-weight: 400;
			font-size: rem(14px);
			line-height: rem(21px);
			color: #221818;
			margin: 0 0 rem(12px) 0;
			padding: 0;
		}
	}
	
	button {
		width: 100%;
		margin-top: rem(8px);
	}
}
