@import '/styles/functions';

.WeekCalendar {
	display: flex;
	flex-direction: column;
	grid-row-gap: rem(16px);
	margin: rem(8px) 0;
	
	.WeekCalendar__header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		
		i {
			font-style: normal;
			font-size: rem(10px);
			line-height: rem(15px);
			color: rgba(#FFFFFF, 0.5);
		}
		
		div {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
			
			button {
				border: none;
				background-color: transparent;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
			
			button:disabled {
				opacity: 0.25;
			}
		}
	}
	
	.WeekCalendar__days, .WeekCalendar__dates {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		grid-column-gap: rem(12px);
	}
	
	.WeekCalendar__days {
		span {
			font-weight: 500;
			font-size: rem(10px);
			line-height: rem(12px);
			text-align: center;
			color: #ffffff;
		}
	}
	
	.WeekCalendar__dates {
		.WeekCalendar__date {
			font-weight: 400;
			font-size: rem(12px);
			line-height: rem(12px);
			text-align: center;
			color: #ffffff;
			padding: 6px 0;
			min-width: 0;
			width: 100%;
			background-color: rgba(192, 192, 192, 0.15);
			border-radius: 3px;
			border: none;
		}
		
		.WeekCalendar__date:disabled {
			color: rgba(255, 255, 255, 0.25);
			background-color: transparent;
		}
		
		.WeekCalendar__date_active {
			background-color: #ffffff;
			color: #212632;
		}
	}
}
