@import '/styles/functions';

.Catalog {
	position: relative;
	z-index: 0;
	overflow-x: hidden;
	
	.Catalog__header {
		padding: rem(20px) 0 rem(8px) 0;
		border-bottom: 1px solid #c4c4c4;
	}
	
	.Catalog__list {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: rem(16px);
		
		& > div {
			background-color: #ffffff;
			box-shadow: 0 1px 24px rgba(46, 57, 69, 0.1);
			padding: rem(16px) 0;
		}
	}
	
	.Catalog__footer {
		display: flex;
		flex-direction: column;
		padding: rem(20px) 0 rem(48px) 0;
		
		& > div {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding-bottom: rem(24px);
			
			& > span, & > .Catalog__counts {
				font-size: rem(8px);
				line-height: rem(12px);
				color: rgba(#000000, 0.6);
				display: flex;
				flex-direction: row;
				align-items: center;
				grid-column-gap: 8px;
			}
		}
		
		& > button {
			width: 100%;
			background-color: rgba(33, 38, 50, 0.05);
			color: #212632;
			max-width: 320px;
			margin: auto;
		}
	}
	
	.Catalog__viewed {
		display: none;
	}
}

@media (min-width: 720px) {
	.Catalog {
		.Catalog__list {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

@media (min-width: 768px) {
	.Catalog {
		.Catalog__header {
			display: flex;
			flex-direction: column-reverse;
			padding: rem(32px) 0;
			border-bottom: none;
		}
		
		.Catalog__footer {
			display: flex;
			flex-direction: column-reverse;
			padding: rem(32px) 0 0 0;
			
			& > div {
				border-top: 1px solid #d1d1d1;
				margin-top: rem(24px);
				padding-top: rem(24px);
				
				& > span, & > .Catalog__counts {
					font-size: rem(16px);
					line-height: rem(24px);
				}
			}
		}
		
		.Catalog__viewed {
			display: block;
		}
	}
}

@media (min-width: 1024px) {
	.Catalog {
		.Catalog__list {
			grid-template-columns: repeat(3, 1fr)
		}
	}
}
