@import '/styles/functions';

.Catalog {
	position: relative;
	z-index: 0;
	
	.Catalog__header {
		padding: rem(20px) 0 rem(8px) 0;
		border-bottom: 1px solid #c4c4c4;
	}
	
	.Catalog__list {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: rem(16px);
		
		& > div {
			background-color: #ffffff;
			box-shadow: 0 1px 24px rgba(46, 57, 69, 0.1);
			padding: rem(16px) 0;
		}
	}
}
