@import '/styles/functions';

.NotFound {
	padding: rem(128px) 0 rem(48px) 0;
	text-align: center;
	
	.NotFound__code {
		font-weight: 800;
		font-size: rem(120px);
		line-height: rem(146px);
		color: #f0515d;
	}
	
	.NotFound__title {
		font-weight: 500;
		font-size: rem(28px);
		line-height: rem(33px);
		color: #f1a653;
		padding: 0;
		margin: 0;
	}
	
	.NotFound__subtitle {
		font-weight: 500;
		font-size: rem(14px);
		line-height: rem(21px);
		color: rgba(#000000, 0.6);
		margin-top: rem(8px);
		display: block;
	}
	
	.NotFound__navigation {
		margin: rem(32px) 0 0 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		list-style: none;
		grid-row-gap: rem(16px);
		
		li {
			padding: 0;
			margin: 0;
			
			a {
				font-weight: 500;
				font-size: rem(16px);
				line-height: rem(24px);
				color: #f0515d;
				text-decoration: none;
			}
		}
	}
}

@media (min-width: 768px) {
	.NotFound {
		padding: rem(56px) 0 rem(64px) 0;
		
		.NotFound__code {
			font-size: rem(182px);
			line-height: rem(222px);
		}

		.NotFound__title {
			font-size: rem(44px);
			line-height: rem(52px);
			transform: translateY(-50%);
		}

		.NotFound__subtitle {
			font-size: rem(18px);
			line-height: rem(27px);
		}

		.NotFound__navigation {
			flex-direction: row;
			grid-column-gap: rem(24px);
		}
	}
}
