@import '/styles/functions';

.NotFound {
	padding: rem(128px) 0 rem(48px) 0;
	text-align: center;
	
	.NotFound__code {
		font-weight: 800;
		font-size: rem(120px);
		line-height: rem(146px);
		color: #f0515d;
	}
	
	.NotFound__title {
		font-weight: 500;
		font-size: rem(28px);
		line-height: rem(33px);
		color: #f1a653;
		padding: 0;
		margin: 0;
	}
	
	.NotFound__subtitle {
		font-weight: 500;
		font-size: rem(14px);
		line-height: rem(21px);
		color: rgba(#000000, 0.6);
		margin-top: rem(8px);
		display: block;
	}
	
	.NotFound__navigation {
		margin: rem(32px) 0 0 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		list-style: none;
		grid-row-gap: rem(16px);
		
		li {
			padding: 0;
			margin: 0;
			
			a {
				font-weight: 500;
				font-size: rem(16px);
				line-height: rem(24px);
				color: #f0515d;
				text-decoration: none;
			}
		}
	}
	
	.NotFound__banner {
		margin-top: rem(64px);
		padding: rem(24px) rem(16px);
		background: linear-gradient(256deg, #f0515d 1.5%, #f08e57 48.87%, #f0b051 101.44%);
		box-shadow: 0 1px 12px rgba(0, 0, 0, 0.07);
		border-radius: 12px;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		text-align: left;
		
		h3 {
			font-weight: 600;
			font-size: rem(20px);
			line-height: rem(50px);
			color: #ffffff;
			margin: 0;
			padding: 0;
		}
		
		p {
			font-weight: 400;
			font-size: rem(14px);
			line-height: rem(20px);
			padding-right: rem(56px);
			color: #ffffff;
			margin: rem(8px) 0 rem(20px) 0;
		}
		
		div {
			display: flex;
			flex-direction: column;
			
			button {
				color: #ffffff;
				border-color: #ffffff;
			}
			
			button:hover {
				background-color: #ffffff;
				color: #f0515d;
			}
			
			a {
				margin-top: rem(12px);
				margin-left: rem(8px);
				font-weight: 400;
				font-size: rem(16px);
				line-height: rem(30px);
				color: #ffffff;
				text-decoration: none;
			}
		}
	}
	
	.NotFound__banner::after {
		content: '';
		display: block;
		width: 126px;
		height: 100px;
		background-image: url('data:image/svg+xml,%3Csvg width=\'120\' height=\'146\' viewBox=\'0 0 120 146\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath d=\'M41.7316 43.6699C42.3826 42.0173 43.1169 40.4963 43.9345 39.1069C44.8107 37.7405 46.0041 36.5978 47.5149 35.6789C49.0482 34.7031 51.0811 34.0886 53.6136 33.8354C54.3918 33.747 55.4782 33.6483 56.8726 33.5394C58.3256 33.4534 59.8235 33.2535 61.3663 32.9397C62.9091 32.6258 64.2808 32.1458 65.4814 31.4997C66.763 30.8196 67.6395 29.8813 68.1109 28.6846C68.4476 27.8298 68.4761 26.9853 68.1965 26.1511C67.9979 25.2829 67.5564 24.5165 66.872 23.852C66.2462 23.2105 65.4653 22.7054 64.5293 22.3367C63.1252 21.7837 61.8205 21.6647 60.6151 21.9798C59.4907 22.261 58.4676 22.7137 57.5459 23.3381C56.7051 23.9284 55.9385 24.4164 55.246 24.8019L47.5237 13.2683C49.4385 11.3236 51.617 9.91073 54.0591 9.02952C56.5236 8.09133 59.1234 7.66726 61.8587 7.7573C64.6749 7.8134 67.487 8.39451 70.2951 9.50063C72.5182 10.3763 74.6178 11.5654 76.5939 13.0679C78.6285 14.5935 80.3125 16.4088 81.6458 18.5139C82.9791 20.6189 83.7638 23.0016 83.9999 25.6618C84.2945 28.3451 83.8133 31.2824 82.5563 34.4735C82.0175 35.8412 81.3843 37.1057 80.6564 38.2672C79.9286 39.4287 79.0477 40.4641 78.0137 41.3733C77.0607 42.2487 75.9142 43.0148 74.5741 43.6719C73.315 44.2949 71.8736 44.7804 70.2498 45.1282C68.1044 45.5996 65.9677 45.877 63.8399 45.9604C61.7706 46.0669 59.9534 46.3055 58.3881 46.6764C56.8453 46.9902 55.827 47.774 55.3332 49.0277L41.7316 43.6699ZM33.2742 65.9122L38.7962 51.8939L52.3978 57.2517L46.8758 71.27L33.2742 65.9122Z\' fill=\'white\'/%3E%3Cpath opacity=\'0.75\' d=\'M54.469 91.585C55.5792 90.4925 56.7072 89.5331 57.8529 88.7067C59.0362 87.9187 60.3876 87.4169 61.9069 87.2013C63.4646 86.9481 65.2835 87.1528 67.3636 87.8154C68.0067 88.0106 68.8954 88.3027 70.0298 88.6917C71.2017 89.1191 72.4503 89.4711 73.7753 89.7477C75.1004 90.0244 76.3514 90.1105 77.5284 90.0061C78.7811 89.9023 79.8095 89.4549 80.6135 88.6638C81.1878 88.0987 81.5164 87.4366 81.5993 86.6776C81.7582 85.9192 81.6894 85.159 81.393 84.3969C81.1342 83.6731 80.7042 83.0049 80.103 82.3923C79.2012 81.4733 78.2199 80.9336 77.1593 80.773C76.1745 80.6131 75.2071 80.6242 74.2571 80.8064C73.3829 80.9892 72.6041 81.1158 71.9206 81.1863L70.0392 69.377C72.2477 68.4833 74.4704 68.1025 76.7072 68.2347C78.9824 68.3291 81.1774 68.8787 83.2923 69.8835C85.4831 70.8889 87.4803 72.3105 89.284 74.1484C90.7119 75.6034 91.9292 77.2656 92.936 79.135C93.9803 81.0426 94.6443 83.0612 94.9279 85.1906C95.2115 87.32 94.9637 89.4831 94.1846 91.6798C93.443 93.9148 92.0002 96.0872 89.8563 98.1968C88.9374 99.101 87.9817 99.8909 86.9891 100.567C85.9966 101.242 84.9295 101.765 83.7881 102.136C82.7225 102.507 81.5445 102.725 80.2541 102.791C79.0396 102.857 77.7319 102.751 76.331 102.474C74.4755 102.117 72.6974 101.609 70.9965 100.949C69.3333 100.328 67.8199 99.898 66.4565 99.659C65.1314 99.3824 64.0478 99.6584 63.2055 100.487L54.469 91.585ZM39.7643 106.393L49.1824 97.1257L57.919 106.028L48.5009 115.295L39.7643 106.393Z\' fill=\'white\'/%3E%3Cpath opacity=\'0.25\' d=\'M13.166 109.898C13.1164 108.939 13.1354 108.027 13.2229 107.16C13.3435 106.292 13.6648 105.463 14.1867 104.673C14.707 103.85 15.5451 103.093 16.7012 102.401C17.0542 102.184 17.5522 101.892 18.1955 101.527C18.8717 101.159 19.5446 100.726 20.214 100.226C20.8834 99.7267 21.4347 99.1837 21.8678 98.5972C22.3323 97.9759 22.5465 97.3182 22.5106 96.624C22.4849 96.1282 22.3141 95.7064 21.9981 95.3585C21.7134 94.9758 21.3348 94.6976 20.8623 94.5238C20.4228 94.3482 19.9389 94.2744 19.4107 94.3025C18.6182 94.3445 17.9682 94.5779 17.4604 95.0025C16.984 95.3924 16.5935 95.8441 16.289 96.3574C16.0158 96.836 15.7557 97.2475 15.5087 97.5921L9.29521 93.6457C9.78634 92.2607 10.5197 91.0782 11.4953 90.0983C12.4693 89.0854 13.6202 88.2951 14.9483 87.7275C16.3076 87.125 17.7797 86.7818 19.3646 86.6977C20.6192 86.6312 21.8833 86.7464 23.1568 87.0435C24.4633 87.3388 25.6654 87.8551 26.763 88.5924C27.8606 89.3297 28.7565 90.3263 29.4506 91.5822C30.1777 92.8364 30.5891 94.389 30.685 96.2402C30.7261 97.0335 30.6994 97.7973 30.605 98.5315C30.5105 99.2658 30.3154 99.9722 30.0194 100.651C29.7548 101.295 29.3737 101.928 28.8762 102.551C28.4101 103.139 27.8266 103.701 27.1259 104.235C26.2026 104.947 25.2412 105.561 24.2416 106.079C23.2751 106.594 22.4579 107.118 21.7902 107.65C21.1208 108.15 20.805 108.763 20.8426 109.491L13.166 109.898ZM13.9795 122.732L13.5585 114.6L21.2351 114.193L21.6561 122.325L13.9795 122.732Z\' fill=\'white\'/%3E%3C/svg%3E');
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
		position: absolute;
		right: 0;
		bottom: rem(24px);
	}
}

@media (min-width: 768px) {
	.NotFound {
		padding: rem(56px) 0 rem(64px) 0;
		
		.NotFound__code {
			font-size: rem(182px);
			line-height: rem(222px);
		}
		
		.NotFound__title {
			font-size: rem(44px);
			line-height: rem(52px);
			transform: translateY(-50%);
		}
		
		.NotFound__subtitle {
			font-size: rem(18px);
			line-height: rem(27px);
		}
		
		.NotFound__navigation {
			flex-direction: row;
			grid-column-gap: rem(24px);
		}
		
		.NotFound__banner {
			padding: rem(32px);
			
			h3 {
				font-size: rem(28px);
			}
			
			p {
				font-size: rem(16px);
				line-height: rem(26px);
				padding-right: 0;
				width: 50%;
				margin: rem(8px) 0 rem(40px) 0;
			}
			
			div {
				flex-direction: row;
				grid-column-gap: rem(32px);
				align-items: center;
				
				a {
					margin-top: 0;
					margin-left: 0;
				}
			}
		}
		
		.NotFound__banner::after {
			width: 188px;
			height: 242px;
			bottom: 0;
		}
	}
}
