@import '/styles/functions';

.Product {
	overflow-x: hidden;
	
	.Product__container {
		padding-top: rem(16px);
		
		.Product__title {
			padding: rem(4px) 0 rem(8px) 0;
			margin: 0;
			font-weight: 600;
			font-size: rem(18px);
			line-height: 145%;
			color: #000000;
		}
		
		.Product__info {
			padding: 0;
			margin: 0;
			list-style: none;
			display: flex;
			align-items: center;
			grid-column-gap: rem(20px);
			
			li {
				font-size: rem(12px);
				line-height: 145%;
				color: #f0515d;
			}
		}
		
		.Product__description {
			padding: rem(24px) 0;
			display: flex;
			flex-direction: column;
			grid-row-gap: rem(24px);
			
			.Product__text {
				.Product__paragraph:not(:first-child) {
					max-height: 0;
					margin: 0;
					overflow: hidden;
				}
				
				.Product__paragraph_active, .Product__paragraph_active:not(:first-child) {
					max-height: 100%;
					margin: rem(8px) 0;
				}
			}
			
			h2 {
				padding: 0;
				margin: 0;
				font-size: rem(18px);
				line-height: rem(27px);
				color: #221818;
				font-weight: 400;
			}
			
			h3 {
				font-weight: 400;
				font-size: rem(15px);
				line-height: rem(22px);
				color: #221818;
				margin: 0;
				padding: 0;
			}
			
			h4 {
				font-weight: 400;
				font-size: rem(14px);
				line-height: rem(21px);
				color: rgba(#221818, 0.6);
				padding: 0;
				margin: 0;
			}
			
			h5 {
				font-weight: 400;
				font-size: rem(12px);
				line-height: rem(18px);
				color: #9a9a9a;
				margin: 0;
				padding: 0;
			}
			
			.Product__paragraph, .Product__paragraph_light {
				font-weight: 400;
				font-size: rem(12px);
				line-height: rem(18px);
				color: #221818;
				padding: 0;
				margin: rem(8px) 0;
			}
			
			.Product__paragraph_light {
				color: rgba(#000000, 0.6);
				margin-top: rem(4px);
			}
			
			.Product__button_expand {
				background-color: transparent;
				border: none;
				font-size: rem(12px);
				line-height: rem(18px);
				color: #f0515d;
				padding: 0;
			}
			
			.Product__span, .Product__span_small {
				font-size: rem(14px);
				line-height: rem(21px);
				color: #221818;
				display: inline-block;
			}
			
			.Product__span_small {
				font-size: rem(12px);
				line-height: rem(18px);
			}
			
			.Product__survey {
				span:not(:last-child) {
					margin-bottom: rem(16px);
				}
			}
			
			.Product__illustration {
				height: 130px !important;
				position: relative;
				border-radius: 6px;
				overflow: hidden;
				box-shadow: 0 0 12px rgba(0, 0, 0, 0.07);
				margin: rem(8px) 0;
			}
			
			.Product__places {
				margin: rem(16px) 0 0 0;
				padding: 0;
				list-style: none;
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				flex-wrap: wrap;
				grid-gap: rem(8px);
				
				.Product__place {
					font-weight: 400;
					font-size: rem(12px);
					line-height: rem(18px);
					color: #000000;
					background-color: rgba(196, 196, 196, 0.1);
					padding: rem(6px) rem(16px);
					border-radius: 12px;
				}
				
				.Product__place_more {
					padding: 0;
					
					button {
						border-radius: 12px;
						background-color: transparent;
						border: none;
						margin: 0;
						color: #f0515d;
						padding: rem(6px) rem(16px);
					}
				}
				
				.Product__place_hidden {
					display: none;
				}
			}
			
			.Product__events {
				.Product__event {
					display: grid;
					grid-template-rows: repeat(2, auto);
					grid-row-gap: rem(8px);
					
					header {
						padding: rem(16px) 0 rem(8px) 0;
						display: flex;
						flex-direction: row;
						justify-content: flex-start;
						align-items: center;
						grid-column-gap: 8px;
						position: relative;
						
						span {
							font-size: rem(12px);
							line-height: rem(18px);
							color: #f0515d;
							background-color: rgba(196, 196, 196, 0.1);
							border-radius: 12px;
							display: inline-block;
							padding: rem(6px) rem(16px);
							position: relative;
							z-index: 1;
						}
						
						i {
							width: 14px;
							height: 14px;
							background-color: #212121;
							display: inline-flex;
							flex-direction: column;
							justify-content: center;
							align-items: center;
							border-radius: 50%;
							cursor: pointer;
							position: relative;
							z-index: 1;
							
							svg {
								transform: translateX(-0.5px);
							}
						}
						
						p {
							position: absolute;
							background-color: #ffffff;
							border: 1px solid #e8e6f8;
							border-radius: 6px;
							padding: rem(8px);
							box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
							top: 44px;
							opacity: 0;
							z-index: -1;
							transition: all var(--transition-primary), z-index 0s linear 0.5s;
							max-width: 320px;
							margin: auto;
							left: 0;
							right: 0;
						}
						
						i:hover + p {
							opacity: 1;
							z-index: 0;
							transition: all var(--transition-primary), z-index 0s linear 0s;
						}
					}
					
					& > div {
						display: flex;
						grid-column-gap: rem(32px);
						
						div {
							span {
								font-size: rem(12px);
								line-height: rem(18px);
								color: #000000;
							}
						}
					}
					
					&:not(:last-child) > div {
						padding-bottom: rem(16px);
					}
				}
				
				.Product__event_hidden {
					display: none;
				}
				
				.Product__event:not(:first-child)::before {
					content: '';
					display: block;
					margin: 0 -24px;
					width: calc(100% + 48px);
					height: 0;
					border-top: 1px solid #c4c4c4;
				}
				
				& > button {
					width: 100%;
					font-weight: 400;
					font-size: rem(12px);
					line-height: rem(18px);
					color: #f0515d;
					padding: rem(12px);
					background-color: rgba(196, 196, 196, 0.1);
					border-radius: 12px;
					border: none;
					margin-top: rem(8px);
				}
			}
			
			.Product__map {
				border-radius: 6px;
				margin-top: rem(8px);
				overflow: hidden;
			}
		}
		
		.Product__discounts {
			padding: 0 0 0 rem(24px);
			width: calc(100% - 1.5rem);
			
			& > div {
				display: flex;
				grid-column-gap: rem(12px);
				width: 100%;
				transition: transform var(--transition-primary);
				
				.Product__discount {
					width: 100%;
					flex-shrink: 0;
					box-shadow: 0 0 12px rgba(0, 0, 0, 0.07);
					border-radius: 6px;
					padding: rem(36px) rem(32px) rem(36px) rem(106px);
					background-repeat: no-repeat;
					background-position: center center;
					background-size: cover;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: flex-start;
					position: relative;
					overflow: hidden;
					
					span {
						font-weight: 600;
						font-size: rem(14px);
						line-height: 135%;
						color: #ffffff;
					}
					
					i {
						position: absolute;
						top: 0;
						right: 0;
						padding: rem(2px) rem(12px);
						background-color: #ffffff;
						font-style: normal;
						border-radius: 0 0 0 6px;
						font-size: rem(14px);
						line-height: rem(21px);
						color: #212632;
					}
				}
			}
		}
		
		.Product__advantages {
			margin-top: rem(8px);
			
			.Product__advantage {
				display: grid;
				grid-template-columns: auto 1fr;
				grid-column-gap: rem(16px);
				align-items: center;
				padding: rem(16px) 0;
				
				span {
					font-size: rem(12px);
					line-height: rem(18px);
					color: rgba(#FFFFFF, 0.6);
					width: 75%;
				}
			}
			
			.Product__advantage:not(:last-child) {
				border-bottom: 1px solid rgba(192, 192, 192, 0.15);
			}
		}
	}
}
