@import '/styles/functions';

.UpcomingExcursions {
	margin-top: rem(32px);
	
	.UpcomingExcursions__header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		
		span {
			font-weight: 400;
			font-size: rem(14px);
			line-height: rem(21px);
			color: #ffffff;
		}
		
		.UpcomingExcursions__loader {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
			grid-column-gap: 8px;
			
			.UpcomingExcursions__dot {
				background-color: rgba(221, 221, 221, 0.45);
				border-radius: 18px;
				height: 5px;
				width: 8px;
				transition: var(--transition-primary);
			}
			
			.UpcomingExcursions__dot_active {
				width: 24px;
				
				span {
					background-color: #f0515d;
					display: block;
					//					width: 100%;
					height: 100%;
					border-radius: 18px;
					position: relative;
					animation-name: dotAnimation;
					animation-duration: 4s;
					animation-timing-function: linear;
					transition: var(--transition-primary);
				}
				
				span::before {
					position: absolute;
					content: '';
					display: block;
					height: calc(100% + 4px);
					width: calc(100% + 4px);
					transform: translate(-2px, -2px);
					background-color: rgba(240, 81, 93, 0.35);
					border-radius: 18px;
					transition: var(--transition-primary);
				}
				
				@keyframes dotAnimation {
					from {
						width: 0;
					}
					to {
						width: 100%;
					}
				}
			}
		}
	}
	
	.UpcomingExcursions__cards {
		position: relative;
		
		.UpcomingExcursions__card {
			flex-shrink: 0;
			width: 100%;
			margin-top: rem(8px);
			padding: rem(16px) 0;
			background-color: #ffffff;
			border-radius: 12px;
			position: absolute;
			opacity: 0;
			transition: var(--transition-primary);
			
			.UpcomingExcursions__image {
				position: relative;
				overflow: hidden;
				padding: 0 rem(16px);
				
				img {
					border-radius: 8px;
				}
			}
			
			.UpcomingExcursions__header {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
				padding: 0 rem(16px) rem(8px) rem(16px);
				
				h3 {
					margin: rem(16px) 0 rem(8px) 0;
				}
				
				span {
					display: flex;
					flex-direction: row;
					justify-content: flex-start;
					align-items: center;
					margin-bottom: rem(8px);
					font-size: rem(12px);
					line-height: rem(18px);
					color: rgba(#212121, 0.6);
					grid-column-gap: 12px;
				}
			}
			
			.UpcomingExcursions__departures {
				padding: rem(8px) rem(16px);
				background-color: #fafafa;
				position: relative;
				
				span {
					font-weight: 400;
					font-size: rem(12px);
					line-height: rem(18px);
					color: #666666;
					margin-bottom: rem(4px);
					display: block;
				}
				
				.UpcomingExcursions__times {
					display: grid;
					grid-template-columns: repeat(4, 1fr);
					grid-column-gap: 8px;
					
					button {
						font-size: rem(14px);
						line-height: rem(21px);
						color: #212121;
						border-radius: 3px;
						border: none;
						background-color: #ffffff;
						padding: rem(4px);
						text-align: center;
					}
				}
				
				.UpcomingExcursions__calendar {
					position: absolute;
					bottom: 66px;
					left: -52px;
					right: -52px;
					max-width: calc(100% + 104px);
					margin: auto;
					width: fit-content;
					opacity: 0;
					transform: scale(0.6);
					transform-origin: 50% 100%;
					z-index: -1;
					transition: all var(--transition-primary), z-index 0s linear 0.8s;
				}
				
				.UpcomingExcursions__calendar_active {
					opacity: 1;
					transform: scale(1);
					z-index: 2;
					transition: all var(--transition-primary), z-index 0s linear 0s;
				}
			}
			
			.UpcomingExcursions__discount {
				padding: rem(16px);
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				grid-column-gap: 8px;
				border-bottom: 1px solid #ececec;
				
				strong, span {
					font-size: rem(12px);
					line-height: rem(18px);
				}
				
				strong {
					font-weight: 700;
					color: #f0515d;
				}
				
				span {
					font-weight: 400;
					color: #999999;
					text-decoration: line-through;
				}
			}
			
			.UpcomingExcursions__tariffs {
				padding: rem(6px) rem(16px);
				border-bottom: 1px solid #ececec;
				
				.UpcomingExcursions__tariff {
					width: 100%;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					padding: rem(8px) 0;
					
					span {
						font-size: rem(12px);
						line-height: rem(18px);
						color: #000000;
					}
					
					div {
						display: flex;
						flex-direction: row;
						justify-content: flex-end;
						align-items: center;
						grid-column-gap: 8px;
						
						strong, span {
							font-weight: 400;
							font-size: rem(12px);
							line-height: rem(18px);
							letter-spacing: 0.02em;
							text-transform: uppercase;
						}
						
						strong {
							color: #f0515d;
						}
						
						span {
							color: #8a8894;
							text-decoration: line-through;
						}
						
						button {
							padding: 0 rem(8px);
							border: none;
							border-left: 1px solid #c4c4c4;
							background-color: transparent;
						}
					}
				}
				
				.UpcomingExcursions__tariff:not(:last-child) {
					border-bottom: 1px solid #c4c4c4;
				}
			}
			
			.UpcomingExcursions__footer {
				display: grid;
				grid-template-columns: auto auto auto;
				grid-column-gap: 8px;
				padding: rem(16px) rem(16px) 0 rem(16px);
				
				button {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					font-weight: 700;
					height: 100%;
				}
			}
		}
		
		.UpcomingExcursions__card_active {
			box-shadow: 0 1px 24px rgba(46, 57, 69, 0.1);
			z-index: 1;
			opacity: 1;
		}
	}
}
