@import '/styles/functions';

.UpcomingExcursions {
	margin-top: rem(32px);
	
	.UpcomingExcursions__header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		
		span {
			font-weight: 400;
			font-size: rem(14px);
			line-height: rem(21px);
			color: #ffffff;
		}
		
		.UpcomingExcursions__loader {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
			grid-column-gap: 8px;
			
			.UpcomingExcursions__dot {
				background-color: rgba(221, 221, 221, 0.45);
				border-radius: 18px;
				height: 5px;
				width: 8px;
			}
			
			.UpcomingExcursions__dot_active {
				width: 24px;
				
				span {
					background-color: #f0515d;
					display: block;
					width: 100%;
					height: 100%;
					border-radius: 18px;
					position: relative;
				}
				
				span::before {
					position: absolute;
					content: '';
					display: block;
					height: calc(100% + 4px);
					width: calc(100% + 4px);
					transform: translate(-2px, -2px);
					background-color: rgba(240, 81, 93, 0.35);
					border-radius: 18px;
				}
			}
		}
	}
	
	.UpcomingExcursions__card {
		margin-top: rem(8px);
		padding: rem(16px) 0;
		background-color: #ffffff;
		box-shadow: 0 1px 24px rgba(46, 57, 69, 0.1);
		border-radius: 12px;
		position: relative;
		
		.UpcomingExcursions__image {
			position: relative;
			overflow: hidden;
			padding: 0 rem(16px);
			
			img {
				border-radius: 8px;
			}
		}
		
		.UpcomingExcursions__header {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			padding: 0 rem(16px) rem(8px) rem(16px);
			
			h3 {
				margin: rem(16px) 0 rem(8px) 0;
			}
			
			span {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				margin-bottom: rem(8px);
				font-size: rem(12px);
				line-height: rem(18px);
				color: rgba(#212121, 0.6);
				grid-column-gap: 12px;
			}
		}
		
		.UpcomingExcursions__departures {
			padding: rem(8px) rem(16px);
			background-color: #fafafa;
			
			span {
				font-weight: 400;
				font-size: rem(12px);
				line-height: rem(18px);
				color: #666666;
				margin-bottom: rem(4px);
				display: block;
			}
			
			div {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				grid-column-gap: 8px;
				
				button {
					font-size: rem(14px);
					line-height: rem(21px);
					color: #212121;
					border-radius: 3px;
					border: none;
					background-color: #ffffff;
					padding: rem(4px);
					text-align: center;
				}
			}
		}
		
		.UpcomingExcursions__discount {
			padding: rem(16px);
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			grid-column-gap: 8px;
			border-bottom: 1px solid #ececec;
			
			strong, span {
				font-size: rem(12px);
				line-height: rem(18px);
			}
			
			strong {
				font-weight: 700;
				color: #f0515d;
			}
			
			span {
				font-weight: 400;
				color: #999999;
				text-decoration: line-through;
			}
		}
		
		.UpcomingExcursions__tariffs {
			padding: rem(4px) rem(16px);
			border-bottom: 1px solid #ececec;
			
			.UpcomingExcursions__tariff {
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				padding: rem(8px) 0;
				
				span {
					font-size: rem(12px);
					line-height: rem(18px);
					color: #000000;
				}
				
				div {
					display: flex;
					flex-direction: row;
					justify-content: flex-end;
					align-items: center;
					grid-column-gap: 8px;
					
					strong, span {
						font-weight: 400;
						font-size: rem(12px);
						line-height: rem(18px);
						letter-spacing: 0.02em;
						text-transform: uppercase;
					}
					
					strong {
						color: #f0515d;
					}
					
					span {
						color: #8a8894;
						text-decoration: line-through;
					}
					
					button {
						padding: 0 rem(8px);
						border: none;
						border-left: 1px solid #c4c4c4;
						background-color: transparent;
					}
				}
			}
			
			.UpcomingExcursions__tariff:not(:last-child) {
				border-bottom: 1px solid #c4c4c4;
			}
		}
	}
}
