@import '/styles/functions';

.UpcomingExcursions {
	margin-top: rem(32px);
	max-width: 660px;
	
	.UpcomingExcursions__header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		
		span {
			font-weight: 400;
			font-size: rem(14px);
			line-height: rem(21px);
			color: #ffffff;
		}
		
		.UpcomingExcursions__loader {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
			grid-column-gap: 8px;
			
			.UpcomingExcursions__dot {
				background-color: rgba(221, 221, 221, 0.45);
				border-radius: 18px;
				height: 5px;
				width: 8px;
				transition: var(--transition-primary);
			}
			
			.UpcomingExcursions__dot_active {
				width: 24px;
				
				span {
					background-color: #f0515d;
					display: block;
					height: 100%;
					border-radius: 18px;
					position: relative;
					animation-name: dotAnimation;
					animation-duration: 9s;
					animation-timing-function: linear;
					transition: var(--transition-primary);
				}
				
				span::before {
					position: absolute;
					content: '';
					display: block;
					height: calc(100% + 4px);
					width: calc(100% + 4px);
					transform: translate(-2px, -2px);
					background-color: rgba(240, 81, 93, 0.35);
					border-radius: 18px;
					transition: var(--transition-primary);
				}
				
				@keyframes dotAnimation {
					from {
						width: 0;
					}
					to {
						width: 100%;
					}
				}
			}
		}
	}
	
	.UpcomingExcursions__cards {
		overflow-x: hidden;
		box-shadow: 0 1px 24px rgba(46, 57, 69, 0.1);
		padding: rem(16px) 0;
		margin-top: rem(8px);
		border-radius: 12px;
		background-color: #ffffff;
		width: 100%;
		
		.UpcomingExcursions__navigation {
			display: none;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 0 rem(16px);
			
			h4 {
				margin: 0;
				padding: 0;
				font-size: rem(14px);
				line-height: rem(21px);
				color: rgba(#212121, 0.8);
				font-weight: 400;
			}
			
			.UpcomingExcursions__button {
				background-color: transparent;
				border: none;
				opacity: 1;
				padding: 8px;
				transition: opacity var(--transition-primary);
			}
			
			.UpcomingExcursions__button:disabled {
				opacity: 0.25;
			}
		}
		
		.UpcomingExcursions__container {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			transition: var(--transition-primary);
			width: 100%;
		}
	}
}

@media (min-width: 768px) {
	.UpcomingExcursions {
		margin-top: 0;
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		
		.UpcomingExcursions__header {
			margin-top: 8px;
			
			span {
				display: none;
			}
		}
		
		.UpcomingExcursions__cards {
			margin-top: 0;
			
			
			.UpcomingExcursions__navigation {
				display: flex;
			}
			
			.UpcomingExcursions__container {
				margin-top: rem(16px);
			}
		}
	}
}
